{# 初始界面 #}

{% extends "common/layout_main.html" %}
{% block content %}
    <div class="row  border-bottom">
        <div class="col-lg-12">
            <div class="tab_title">
                <ul class="nav nav-pills">
                    <li class="current">
                        <a href="{{ buildUrl('/card/index') }}">卡片列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline wrap_search">
                <div class="row  m-t p-w-m">
                    <div class="form-group">
                        <label>
                            <select name="search_status" class="form-control inline">
                                <option value="-1">请选择状态</option>
                                <option value="0" {% if search_info and search_info['search_status'] == 0 %} selected {% endif %}>未归档</option>
                                <option value="1" {% if search_info and search_info['search_status'] == 1 %} selected {% endif %}>已归档</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            {# 有数据库需要将该项加上 name="" 暂时此项无法使用 #}
                            <select class="form-control inline">
                                <option value="-1">请选择分类</option>
                                <option value="1">六级单词</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="hidden" name="p" {% if search_info %} value="{{ search_info['p'] }}" {% endif %}>>
                            <input type="text" name="search_card_name" placeholder="请输入关键字" class="form-control"
                                   {% if search_info %} value="{{ search_info['search_card_name'] }}" {% endif %}>
                            <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary search">
                                <i class="fa fa-search"></i>搜索
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        {# 增加 #}
                        <a class="btn btn-w-m btn-outline btn-primary pull-right" href="{{ buildUrl('/card/new') }}">
                            <i class="fa fa-plus"></i>卡片
                        </a>
                    </div>
                </div>
            </form>
            <table class="table table-bordered m-t">
                <thead>
                <tr>
                    <th>卡片名</th>
                    <th>分类</th>
                    <th>复习状态</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>下一次复习时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% if card_list %}
                    {% for row_data in card_list %}
                        <tr>
                            {# 卡片名 #}
                            <td>{{ row_data.card_name }}</td>

                            {# 先只用一个分类。分类功能还没做 数据库不存在 #}
                            <td>六级单词</td>

                            {# 记忆曲线x/8次复习格式，x为study_status#}
                            <td>记忆曲线{{ row_data.study_status }}/8次复习</td>

                            {# status为1完成，为0未完成#}
                            <td>
                                {% if row_data.status and row_data.status == 1 %}
                                    已归档
                                {% else %}
                                    未归档
                                {% endif %}
                            </td>

                            {# 创建时间 created_time #}
                            <td>{{ row_data.created_time }}</td>

                            {# 下一次复习时间 lasttime#}
                            <td>{{ row_data.last_time }}</td>

                            <td>
                                {# 详细信息 #}
                                <a href="{{ buildUrl('/card/info') }}/{{ row_data.id }}">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>

                                {% if row_data.status == 0 %}
                                    {# 编辑 #}
                                    <a class="m-l" href="{{ buildUrl('/card/set') }}/{{ row_data.id }}">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                    {# 归档/删除 #}
                                    <a class="m-l remove" href="javascript:void(0);" data="{{ row_data.id }}">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" align="center">暂无学习记录</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            {# 分页 common/pagenatin.html #}
            {% include 'common/pagenation.html' %}

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ buildStaticUrl('/js/card/index.js') }}"></script>
{% endblock %}